<h2>This is the home page</h2>

<form action="/calc" method="GET">
  <input type="number" name="num_one">
  <input type="text" name="operation">
  <input type="number" name="num_two">

  <input type="submit">
</form>
