<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Calculator</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">

    <h1>My Calculator</h1>
    <div class="border">
      <%= yield %>
    </div>

  </div>

</body>
</html>
