<!-- This is only for Backbone -->
<div class="container">
  <div id="main"></div>
</div>
<!-- Foundation for our AppView.js -->

<script id="appViewTemplate" type="text/template">
  <h1>Our Secrets app</h1>

  <div id="secretForm">Textarea view goes here</div>

  <ul id="secrets"></ul>
</script>

<script id="secretInputViewTemplate" type="text/template">
  <textarea id="secretContent" placeholder="Tell me all of your deepest, darkest secrets"></textarea>
  <button>Submit</button>
</script>

<script type="text/template" id="demo">
  <h1>
    <%%= name %>
  </h1>
</script>
