body {
  background-color: purple;
  color: white;
}

.container {
  max-width: 960px;
  margin: auto;
}

nav {
  text-align: right;
}

a {
  color: white;
}

.home {
  text-align: center;
}

.controls {
  text-align: right;
}

.controls a {
  padding: 1em;
  border-radius: 0.5em;
}

.controls a:hover {
  background-color: red;
}

img.feature {
  max-width: 100%;
  border-radius: 0.5em;
}
