<h2>New Butterfly</h2>

<form action="/butterflies" method="post">
  <label>Name:</label>
  <input name="name">

  <label>Family:</label>
  <input name="family">

  <label>Image:</label>
  <input type="url" name="image">

  <input type="submit" value="Create butterfly">
</form>
