<h2>New Butterfly</h2>

<form action="/butterflies" method="post">
  <label>Name:</label>
  <input name="name">

  <label>Family:</label>
  <input name="family">

  <label>Image:</label>
  <input type="url" name="image">

  <label>Larval plant:</label>
  <select name="plant_id">
    <option></option>
    <% Plant.all.each do |plant| %>
      <option value="<%= plant.id %>"><%= plant.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Create butterfly">
</form>
