<div class="home">
  <h1>Welcome to the wonderful world of butterflies</h1>

  <img src="http://media4.giphy.com/gifsu/xT5LMA6K3pDQcVHQRy/giphy-glitter.gif" alt="We Love Butterflies">

  <p>See <a href="/butterflies">all our butterflies</a>.</p>
</div>
