<h2>New Plant</h2>

<form action="/plants" method="post">
  <label>Name:</label>
  <input name="name">

  <label>Image:</label>
  <input type="url" name="image">

  <input type="submit" value="Create plant">
</form>
