::selection {
  background: auto;
  text-shadow: 5px 5px 5px hotpink;
  // color: white;
}

body {
  background: gainsboro;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 80%;
  background: white;
  border: 10px solid hotpink;
}

textarea {
  display: block;
  width: 80%;
  outline: none;
  border: 5px solid lightslategray;
  margin: 20px auto;
}

button {
  box-shadow: 5px 5px 5px yellow;
  font-size: 50px;
  background: papayawhip;
  border: 10px solid green;
  padding: 5px 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 5s;
  &:hover {
    background: tomato;
    color: white;
  }
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 20px;
}
