<!DOCTYPE html>
<html>
<head>
  <title>Railsintro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/faq">FAQ</a>
</nav>

<%= yield %>

</body>
</html>
