<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header>
    <a href="/about">About</a>
    <a href="/home">Home</a>
    <a href="/calc/2/2">Do you know what 2 + 2 is?</a>
  </header>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
