<nav>
  <a href="#">Home</a>
</nav>

<div id="main"></div>

<script id="appViewTemplate" type="text/template">
  <h1>My Blog With All My Feelings</h1>
  <ul id="posts"></ul>
</script>

<script id="postViewTemplate" type="text/template">
  <h1>{{= title }}</h1>
  <h2>By: {{= author }}</h2>
  <p>
    {{= content }}
  </p>
</script>
