.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
  line-height: 200px;
  /* default position:
  position: static;
  */
/* horizontal centering
  margin: 0 auto;
*/
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 150px;
  right: 200px;
}

.fixed {
  position: fixed;
  top: 200px;
  right: 400px;
}
