<h1>My Blog With All My Feelings</h1>

<div class="post">
  <h2>Some Title</h2>
  <h3 class="author">Some Guy</h3>

  <p class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum similique mollitia tempore vitae debitis eaque, architecto quaerat laboriosam nulla dicta libero sit, repellendus eveniet. Veniam accusantium optio delectus esse necessitatibus. <a href="#">Read more</a>
  </p>

  <p class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta sequi, voluptatibus, officiis hic eaque cumque, harum iste tempora, ratione est fugiat modi accusamus laboriosam nihil rerum error expedita explicabo impedit! <a href="#">Read more</a>
  </p>
</div>

<div class="post">
  <h2>Some Title</h2>
  <h3 class="author">Some Guy</h3>

  <p class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum similique mollitia tempore vitae debitis eaque, architecto quaerat laboriosam nulla dicta libero sit, repellendus eveniet. Veniam accusantium optio delectus esse necessitatibus. <a href="#">Read more</a>
  </p>

  <p class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta sequi, voluptatibus, officiis hic eaque cumque, harum iste tempora, ratione est fugiat modi accusamus laboriosam nihil rerum error expedita explicabo impedit! <a href="#">Read more</a>
  </p>
</div>

<div class="post">
  <h2>Some Title</h2>
  <h3 class="author">Some Guy</h3>

  <p class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum similique mollitia tempore vitae debitis eaque, architecto quaerat laboriosam nulla dicta libero sit, repellendus eveniet. Veniam accusantium optio delectus esse necessitatibus. <a href="#">Read more</a>
  </p>

  <p class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta sequi, voluptatibus, officiis hic eaque cumque, harum iste tempora, ratione est fugiat modi accusamus laboriosam nihil rerum error expedita explicabo impedit! <a href="#">Read more</a>
  </p>
</div>

<button class="notice">
  Notice
</button>

<button class="notice error">
  Error
</button>

<button class="notice success">
  Success
</button>
