<h1>Fun Facts</h1>

<h2>Lotto Numbers</h2>
<div id="lotto">
  <%= @lotto.join ', ' %>
</div>
<button id="fetch-lotto">Refresh</button>

<h2>Marx Brother of the Moment</h2>
<div id="brother">
  <%= @brother %>
</div>
<button id="fetch-brother">Refresh</button>

<h2>System Info</h2>
<div id="uptime">
  <%= @uptime %>
</div>
<button id="fetch-info">Refresh</button>

<h2>Fortune Cookie</h2>
<div id="fortune">
  <%= @fortune %>
</div>
<button id="fetch-fortune">Refresh</button>
